<section class="sec">
    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>REGISTRO DE ESPECIALISTAS</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form>
              <div class="row clearfix">
                <div class="col_half">
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input type="text" name="name" placeholder="Nombre" />
                  </div>
                </div>
                <div class="col_half">
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input type="text" name="name" placeholder="Apellido" required />
                  </div>
                </div>
              </div>
              
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="number" name="name" placeholder="Edad" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-id-card"></i></span>
                <input type="number" name="name" placeholder="DNI" required />
              </div>
              <div class="input_field select_option">
                <select>
                  <option>Seleccione una especialidad</option>
                  <option>Cardiologia</option>
                  <option>Oftalmologia</option>
                  <option>Pediatria</option>
                </select>
                <div class="select_arrow"></div>
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="email" name="email" placeholder="Email" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="password" name="password" placeholder="Password" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="password" name="password" placeholder="Confirmar Password" required />
              </div>
              
              <!-- <div class="input_field radio_option">
                <input type="radio" name="radiogroup1" id="rd1">
                <label for="rd1">Male</label>
                <input type="radio" name="radiogroup1" id="rd2">
                <label for="rd2">Female</label>
              </div> -->
              
              <!-- <div class="input_field"> <span><i aria-hidden="true" class="fa fa-image" ></i></span>
                <input type="file" name="password" placeholder="Re-type Password" required />
              </div> -->
              <div class="file-select input_field"  id="src-file" ><span><i aria-hidden="true" class="fa fa-image" ></i></span>
                <input type="file" name="src-file" aria-label="Archivo">
              </div>
              <!-- <input id="fichero" type="file"> -->
  
              <!-- <div class="input_field checkbox_option">
                <input type="checkbox" id="cb1">
                <label for="cb1">I agree with terms and conditions</label>
              </div>
              <div class="input_field checkbox_option">
                <input type="checkbox" id="cb2">
                <label for="cb2">I want to receive the newsletter</label>
              </div> -->
              <input class="button" type="submit" value="Continuar" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>