  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }
  .u-section-2 .u-layout-wrap-1 {
    margin: -107px auto 19px 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 427px;
    background-image: none; 
    cursor: pointer;   
  }

  .u-section-2 .u-layout-cell-1:hover {
    background-color: black;
    transition: 1s;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-2 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 45px auto 0;
  }
  
  .u-section-2 .u-text-1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 45px 20px 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 20px 45px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 427px;
    background-image: none;
    cursor: pointer;
  }
  
  .u-section-2 .u-layout-cell-2:hover {
    background-color: black;
    transition: 1s;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-2 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin: 45px auto 0;
  }
  
  .u-section-2 .u-text-3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 45px 20px 0;
  }
  
  .u-section-2 .u-text-4 {
    margin: 20px 20px 45px;
  }
  
  .u-section-2 .u-layout-cell-3 {
    min-height: 427px;
    background-image: none;
    cursor: pointer;
  }

  .u-section-2 .u-layout-cell-3:hover {
    background-color: black;
    transition: 1s;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .u-section-2 .u-icon-3 {
    height: 64px;
    width: 64px;
    margin: 45px auto 0;
  }
  
  .u-section-2 .u-text-5 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 45px 20px 0;
  }
  
  .u-section-2 .u-text-6 {
    margin: 20px 20px 45px;
  }

  @media (max-width: 1199px) {
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-icon-1 {
      position: relative;
    }
  
    .u-section-2 .u-text-1 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-text-2 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-icon-2 {
      position: relative;
    }
  
    .u-section-2 .u-text-3 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-text-4 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-icon-3 {
      position: relative;
    }
  
    .u-section-2 .u-text-5 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-2 .u-text-6 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-text-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 9px;
      margin-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-layout-cell-1 {
      min-height: 427px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 427px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 427px;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-2 .u-text-6 {
      margin-left: 6px;
      margin-right: 6px;
    }
  }