.u-section-1 {
  background-image: url('../../../../../assets/images/cbdcdba2c3d2a70b362554a6b4fd749a.jpeg');
  // background-position: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 60px;
  height: 200px;
  margin-top: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}
