<section class="u-clearfix u-section-1" id="sec-9529">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-form u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-a2cb" class="u-label">Nombre</label>
            <input type="text" placeholder="Ingrese su nombre" id="name-a2cb" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          <div class="u-form-group u-form-name">
            <label for="name-a2cb" class="u-label">Apellido</label>
            <input type="text" placeholder="Ingrese su apellido" id="name-a2cb" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          <div class="u-form-group u-form-phone u-form-group-5">
            <label for="phone-4ee7" class="u-label">Edad</label>
            <input type="number" placeholder="Ingrese su edad" id="phone-4ee7" name="phone" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          <div class="u-form-group u-form-phone u-form-group-5">
            <label for="phone-4ee7" class="u-label">DNI</label>
            <input type="number" placeholder="Ingrese su DNI" id="phone-4ee7" name="phone" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          
          <div class="u-form-group u-form-group-4">
            <label for="text-6b96" class="u-label">Obra social</label>
            <input type="text" placeholder="Ingrese su obra social" id="text-6b96" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
          </div>
          
          <div class="u-form-email u-form-group">
            <label for="email-a2cb" class="u-label">Email</label>
            <input type="email" placeholder="Enter a valid email address" id="email-a2cb" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
          </div>
          
          <div class="u-form-group u-form-group-6">
            <label for="text-e52c" class="u-label">Contraseña</label>
            <input type="password" placeholder="Ingrese su contraseña" id="text-e52c" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
          </div>
          <div class="u-form-group u-form-group-7">
            <label for="text-9aad" class="u-label">Images</label>
            <input type="file" placeholder="" id="text-9aad" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
    </div>
  </section>
